.navigation_login_button {
  .link {
    text-decoration: none;
    color:  #FEFBF6;
    font-size: 1.25rem;
    margin-left: 40px;
    background: linear-gradient(329deg, rgba(67,226,200,1) 0%, rgb(130, 19, 204) 0%, rgba(163,44,223,1) 100%);
    padding: 10px 30px ;
    border-radius: 8px;

    &:hover {
      cursor: pointer;
      background: linear-gradient(329deg, rgba(67,226,200,1) 0%, rgb(130, 19, 204) 0%, rgb(137, 37, 187) 100%);
    }
  }
  .smlink {
    text-decoration: none;
    color: rgb(56, 56, 56);
    font-size: 1rem;
  }
}

@media (max-width: 704px) {
  .navigation_login_button {
    .link {
      margin-left: 24px;
    }
  }
}
