.login_body
{
  display: flex;
  flex-direction: column;
  background: rgb(236, 236, 236);
  width: 50%;
  align-items: center;
  padding-bottom: 10px;


  .form {
    display: flex;
    flex-direction: column;

    .button_group
    {
      margin-top: 15px;
      display: flex;
      flex-direction: column;
    }
  }
}

@media  screen and (max-width:800px) {

  .login_body{
    width:100%;
  }

}