.cart-item-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  padding-right: 5px;
  margin-bottom: 6px;

  img {
    height: 100%;
    width: 40%;
  }
  .text-container {
    width: 60%;
    display: flex;
    flex-direction: column;
    text-align: left;
    font-size: 30%;
    padding-left: 8px ;
  }
}
